PROJECT 1/AI Document Assistant.json
{
  "name": "AI Document Assistant",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "145o_C0MJtkUPYpUGfgG0vNYgNhie1KFQ",
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/145o_C0MJtkUPYpUGfgG0vNYgNhie1KFQ"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        208
      ],
      "id": "888cbde4-40b9-44a5-a031-80b7eeaf9ad2",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ioKNAAlzhBuoV3fu",
          "name": "lazarus0231@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        208
      ],
      "id": "73391155-e114-45f8-8d3f-46742a6ea4ff",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ioKNAAlzhBuoV3fu",
          "name": "lazarus0231@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        448,
        224
      ],
      "id": "bb938795-defd-4114-b34d-1847b7bcd151",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "pKTHkIg8rltBorhF",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        576,
        224
      ],
      "id": "9eac6d31-98aa-4416-b031-d8319a6971a8",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        656,
        432
      ],
      "id": "6aadb0db-502a-465c-a7d6-087f1b9e9c4b",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        256,
        848
      ],
      "id": "679323a7-c6f8-4a3d-9c18-b30f9942dccf",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        848
      ],
      "id": "1e0653aa-05ad-439a-a2cf-40c679f832b3",
      "name": "When chat message received",
      "webhookId": "7a544810-4af0-46a2-9683-31b3fba11251"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        224,
        1072
      ],
      "id": "394ccd34-82ba-48f4-9bf3-4579f491f020",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "pKTHkIg8rltBorhF",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "call this tool to access the policy and FAQ database",
        "pineconeIndex": {
          "__rl": true,
          "value": "rgpipeline",
          "mode": "list",
          "cachedResultName": "rgpipeline"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        352,
        1072
      ],
      "id": "e1470c19-d56b-49a1-b19d-829c9a7409c9",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "wUx3ztOj1cjjVZ4V",
          "name": "PineconeApi account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        432,
        1280
      ],
      "id": "54d23e7f-5f43-4ae5-9e2f-1bfcf0431980",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "pKTHkIg8rltBorhF",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "rgpipeline",
          "mode": "list",
          "cachedResultName": "rgpipeline"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        480,
        0
      ],
      "id": "53b533f1-6e9e-4381-9989-c3df38198746",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "wUx3ztOj1cjjVZ4V",
          "name": "PineconeApi account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6a27dd80-0284-48b4-a09e-592a40c4f851",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "801f08d0f6aece507ab910a49112b2ad6f2296e0c802b6b368238779be6dd37d"
  },
  "id": "jgRqFkrxtnFY5x6k",
  "tags": []
}